.form-add {
	width: 100%;
	max-width: 330px;
	margin: auto;
}
.form-group {
    text-align: center;
}

td.FizzBuzz {
    color: blue;
}

.Buzz {
    color: red;
}

.textColor {
    color: yellow;
}


