<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.FizzbuzzMapper">

<!-- マッピング定義(fizzbuzz) -->
<resultMap type="com.example.model.FModel" id="id">
<id column="id" property="id" />
<result column="num" property="num" />
<result column="message" property="message" />
</resultMap>

<!-- 過去数値3件取得 -->
<select id="findNum" resultType="com.example.model.FModel">
  SELECT
    num
    
  FROM
    fizzbuzz_details
  ORDER BY id DESC
   LIMIT 3;
</select>

<insert id="insertNum">
  INSERT INTO fizzbuzz_details 
  (num, message) 
  VALUES (
  #{num}
, #{message}
)
</insert>

</mapper>